<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>dwb xtreme</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>m4v</string>
				<string>mov</string>
				<string>avi</string>
				<string>flv</string>
				<string>f4v</string>
				<string>wmv</string>
				<string>asf</string>
				<string>mkv</string>
				<string>ts</string>
				<string>mts</string>
				<string>m2ts</string>
				<string>m2t</string>
				<string>mpg</string>
				<string>3gp</string>
				<string>3g2</string>
				<string>vob</string>
				<string>ogv</string>
				<string>ogm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>dwb xtreme Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dwb.video.mp4</string>
				<string>com.dwb.video.m4v</string>
				<string>com.dwb.video.mov</string>
				<string>com.dwb.video.avi</string>
				<string>com.dwb.video.flv</string>
				<string>com.dwb.video.f4v</string>
				<string>com.dwb.video.wmv</string>
				<string>com.dwb.video.asf</string>
				<string>com.dwb.video.mkv</string>
				<string>com.dwb.video.ts</string>
				<string>com.dwb.video.mpeg-transport-variants</string>
				<string>com.dwb.video.mpg</string>
				<string>com.dwb.video.3gpp</string>
				<string>com.dwb.video.vob</string>
				<string>com.dwb.video.ogv-ogm</string>
			</array>
		</dict>
	</array>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>dwb</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPEG-4 Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.dwb.video.mp4</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mp4</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mp4</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>M4V Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.dwb.video.m4v</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m4v</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-m4v</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>QuickTime Movie</string>
			<key>UTTypeIdentifier</key>
			<string>com.dwb.video.mov</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mov</string>
				</array>
				<key>public.mime-type</key>
				<string>video/quicktime</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AVI Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.dwb.video.avi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>avi</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-msvideo</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Flash Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.dwb.video.flv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flv</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-flv</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Flash MP4 Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.dwb.video.f4v</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>f4v</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mp4</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Windows Media Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.dwb.video.wmv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wmv</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-ms-wmv</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Advanced Systems Format Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.dwb.video.asf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>asf</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-ms-asf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Matroska Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.dwb.video.mkv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-matroska</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPEG Transport Stream</string>
			<key>UTTypeIdentifier</key>
			<string>com.dwb.video.ts</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ts</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mp2t</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPEG Transport Stream Variants</string>
			<key>UTTypeIdentifier</key>
			<string>com.dwb.video.mpeg-transport-variants</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mts</string>
					<string>m2ts</string>
					<string>m2t</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mp2t</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPEG Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.dwb.video.mpg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpg</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mpeg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>3GPP Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.dwb.video.3gpp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>3gp</string>
					<string>3g2</string>
				</array>
				<key>public.mime-type</key>
				<string>video/3gpp</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DVD Video Object</string>
			<key>UTTypeIdentifier</key>
			<string>com.dwb.video.vob</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vob</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mpeg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OGV/OGM Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.dwb.video.ogv-ogm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogv</string>
					<string>ogm</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
